@font-face {
    font-family: king-arthur;
    src: url(./media/\(KING\ ARTHUR\).ttf);
}

@font-face {
    font-family: enchanted-land;
    src: url(./media/EnchantedLand.otf);
}

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 260px minmax(900px,3fr) 40px;
    height: 100%;

}

ul > li {
    list-style: none;
    font-size: 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
    background-color: #d7d293;
    background-image: url(https://www.transparenttextures.com/patterns/tileable-wood-colored.png);
    transform: skew(-10deg, 0deg);
    border-radius: 16px;
    padding: 10px;
    box-shadow: 5px 5px 3px;
}

.dashboard {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: #f3da62;
    background-image: url(https://www.transparenttextures.com/patterns/rocky-wall.png);
    display: grid;
    padding: 25px;
    row-gap: 40px;
    grid-auto-rows: min-content;
}

.navbar {
    grid-column: 2/3;
    grid-row: 1 /2;
    background-color: #d7f309;
    background-image: url(https://www.transparenttextures.com/patterns/black-linen.png);
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: minmax(60px,1fr) minmax(60px,1fr);
    gap: 25px;
    padding: 25px;
}

.dashboard > .logo {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: minmax(100px , 1fr) 2fr;
    gap: 5px;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.logo > img{
    grid-column: 1/2;
    max-width: 100px;
    max-height: 100px;
}


h1 {
    grid-column: 2/3;
    font-size: 3.5rem;
    font-family: enchanted-land, sans-serif;
    letter-spacing: 0.6rem;
    margin: 0px;
}

.icone_dash {
    min-height: 30px;
    max-height: 50px;
    justify-self: center;
    align-self: center;
    padding-left: 10px;
}

.nome_dash {
    font-family: king-arthur;
    font-size: clamp(37px, 2.0vw ,3.0rem);
    text-decoration: none;
    color: black;
    align-self: center;
    letter-spacing: 0.1rem;
}

.prima-lista , .seconda-lista {
    display: grid;
    padding-left: 10px;
    gap: 1.4rem;
}

.avatar {
    height: 55px;
    max-height: 100%;
    border-radius: 64px;
    justify-self: center;
    border: 5px dotted #fffefe;
}

.barra-ricerca {
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 50px 4fr 1fr 50px 80px 1fr;
    column-gap: 30px;
    align-items: center;
}

#cerca {
    background-image: url(./media/cerca.png);
    background-size: 100% 100%;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    grid-column: 1/2;
    height: 40px;
    width: 40px;
    padding: 0px;
}

#casella-ricerca {
    grid-column: 2/3;
    height: 30px;
    border-radius: 32px;
    border-width: 0px;
    background-color: #00000041;
    padding-left: 20px;
    font-size: 1.4rem;
    font-family: 'enchanted-land';
    letter-spacing: 0.1rem;
    outline: none;
}

#notifiche {
    background-image: url(./media/notifiche.png);
    background-size: 100% 100%;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 0px;
}

.user-name {
    font-size: 2.5rem;
    margin: 0px;
    font-family: 'enchanted-land';
    letter-spacing: 0.3rem;
}

.barra-interagisci {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 100px 3fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: 1.4rem;
}

.barra-interagisci > .avatar {
    height: 80px;
}

.saluto > p {
    margin: 0px;
}

#interagisci {
    font-family: enchanted-land , sans-serif;
    font-size: 1.6rem;
    border-radius: 16px;
    background-image: url(./media/bottoni.png);
    background-color: #f0f8ff00;
    background-size: 100% 100%;
    height: 2.2rem;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 3px;
}

.content {
    grid-column: 2 /3;
    grid-row:  2/3;
    background-color: #fdfde8;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.progetti{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 100px 1fr;
    padding: 25px;
}

.progetti > p {
    font-family: enchanted-land , sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0;
}

.articoli {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fffce9;
    background-image: url(https://www.transparenttextures.com/patterns/cardboard.png);
    padding: 20px;
    border-radius: 16px;
    border-left: 10px solid #339b38;
    display: grid;
    box-shadow: 5px 5px 3px;
}

.descrizione  {
    margin: 0px;
    font-family: 'enchanted-land';
    grid-column: 1/2;
    font-size: 1.4rem;
}

.icone {
    grid-row: 3/4;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.icone > img {
    height: 25px;
    cursor: pointer;
}


.title {
    font-family: enchanted-land, sans-serif;
    font-size: 1.6rem;
    letter-spacing: 5px;
    grid-column: 1/2;
    margin: 0px;
}

.annunci {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 100px 1fr 100px 1fr;
    padding: 25px;
    gap: 10px;
}

.annunci > p {
    font-family: enchanted-land , sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0;
}

.notizie {
    display: grid;
    grid-auto-flow: row;
    background-color: #fffce9;
    background-image: url(https://www.transparenttextures.com/patterns/cardboard.png);
    padding: 20px;
    border-radius: 16px;
    row-gap: 15px;
    box-shadow: 5px 5px 3px;
}

.notizie > div:nth-child(2) {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.notizie > div {
    padding: 5px;
}

.trends {
    display: grid;
    grid-auto-flow: row;
    background-color: #fffce9;
    background-image: url(https://www.transparenttextures.com/patterns/cardboard.png);
    padding: 20px;
    border-radius: 16px;
    row-gap: 15px;
    box-shadow: 5px 5px 3px;
}

.trends > div {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 5px;
}

.trends > div > img {
    height: 55px;
    width: 55px;
    border-radius: 32px;
    border: 5px dotted #ff5a5a;
}

.nick {
    display: grid;
    row-gap: 5px;
    font-family: system-ui;
    font-size: 1.1rem;
    padding: 5px;
}

.nick > p {
    margin: 0px;
}

.footer {
    display: flex;
    gap: 5px;
    grid-column: 2/3;
    background-color: #d7f309;
    background-image: url(https://www.transparenttextures.com/patterns/black-linen.png);
    justify-content: center;
    align-items: center;
}

.nome-github {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    align-self: baseline;
}